llama-index
llama-index-vector-stores-lancedb
llama-index-embeddings-huggingface
llama-index-embeddings-ollama
llama-index-llms-ollama
pypdf
pymupdf
llama-index-readers-file
lancedb
streamlit
pandas
reportlab
